.footer{
	margin-top: 200px;
	padding: 80px 0;
	background-color: $cor1;
	width: 100%;

	.container-footer {
		margin: 0 -45px;
	}

	* {
		color: #ffffff;
	}

	.footer-col {
		float: left;
		padding-right: $padding-col; 
		padding-left: $padding-col;
		width: 36.5%;
		@include box-sizing;

		&:nth-child(2){
			width: 27%;
		}
	}

	h4 {
		margin-bottom: 25px;
	}

	p {
		font-size: 1rem;
		line-height: 1.5rem
	}

	.redes {
		a {
			display: inline-block;

			i {
				font-size: 1.25rem;
			}

			&:nth-child(2){
				margin: 0 45px;
			}
		}
	}

	form {
		padding: 0;

		input {
			color: #ffffff;
			font-size: 1rem;
			line-height: 1.5rem;
			border-color: #ffffff;
	
			@include placeholder{
				opacity: 1;
				font-size: 1rem;
				color: #ffffff;
			}
		}

		fieldset {
			margin: 0;
		}

		.btn {
			margin-top: 15px;
			height: 28px;
			line-height: 27px;
			padding: 0 28px;
			font-size: 1rem;
		}
	}
}

.home {
	.footer {
		margin: 0;
	}
}