$width: 1280px;
$padding-container: 40px;
$padding-col: 30px;

$font-size: 1.125rem;
$line-height: 1.75rem;

$cor-txt: #333333;
$cor-txt-claro: rgba($cor-txt,.75);

/* CORES */
$amarelo: #ffc107;
$azul: #1259c3;



$cor1: #801700; // vermelho

$cor2: #F9A61A; // amarelo
$cor3: #0B7ABF; // azul
$cor4: #EC1F31; // vermelho

$verde-limao: #8cc63f; //verde-limão
$cinza: #DCDCDC;
$cinza-claro: #999999;
$laranja: #CB521C;
$lilas: #8D1C7B;
$verde-claro: #5EA47E;
$verde: #007f3d;


$vermelho: #801700;
$azul-celeste: #35cbc9;
$rosa: #ed7db5;
$dourado: #a4925f;
$bege: #a4925f; 
$bordo: #790000;
$marrom: #99552b;
$roxo: #ffffff;
$pink: #f4364c;

$bgescuro: #353535;
$bgclaro: #fbfbfb;




$light: 300;
$regular: 400;
$medium: 400;
$semi-bold: 700;
$bold: 700;
$extra-bold: 900; 

$hSlide: 400px;


$border-col: 1px solid #f5f5f5;